.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main__videoPlayer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 480px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}
