@import '../../../styles/variables.scss';

.header__nav {
  ul {
    display: inline-flex;
    gap: 2rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;

    &:hover,
    &:visited {
      color: $hover-color;
    }
  }
}
