@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form {
  max-width: 600px;
  width: 100%;
  min-height: 220px;
  background-color: $background-gradient;
  padding: 1rem;
  display: inline-flex;
  gap: 1rem;
  color: white;

  .button--primary {
    @include buttonTemplate();

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }
  }

  @media (max-width: 531px) {
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
  }
}

.form__name {
  @include nameIdFormFields();

  @media (max-width: 531px) {
    gap: 1rem;
    @include nameIdFormFields(100%);
  }
}

.form__id {
  @include nameIdFormFields();

  @media (max-width: 531px) {
    gap: 1rem;
    @include nameIdFormFields(100%);
  }
}

.button--secondary {
  @include buttonTemplate($secondary-color);

  &:hover {
    cursor: pointer;
    background-color: $hover-secondary-color;
  }
}
